<html>
    <head>
        <link rel="stylesheet" href="designnava.css">
    </head>
    <body>
        <h1>LOGIN</h1>

        <form action="/submit" method='POST'>
            
       <label for="name">NAME:</label>
    <input type="text" id="name" name="name" required><br>
     <label for="phno">phone no:</label>
    
    <input type="text" name="phno" placeholder="Phone number"><br>
     <label for="username">USERNAME:</label>
    <input type="text" id="username" name="username" required><br>
      <label for="password">PASSWORD:</label>
      <input type="password" id="password" name="password" required><br><br>
      <input type="submit" value="submit">
    </form>
    </body>
</html>